.maindiv{
    padding-top: 50px;
}
.profile-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.profile-image img {
    width: auto;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}